# --- REQUIRED TELEGRAM SETTINGS ---
TELEGRAM_TOKEN=[your TG TOKEN]
TELEGRAM_CHAT_ID=[Your CHAT ID]

# --- LOCAL MAILBOX PATH ---
# Provide the absolute or relative path to your .mbox file
MBOX_PATH="inbox.mbox"

# --- LOCAL PRIVATE DATA PATHS ---
SCHEDULE_PATH="schedule.md"
TASKS_PATH="tasks.md"
EXPENSES_PATH="expenses.csv"


# --- CCTV TRAFFIC SETTINGS ---
CCTV_IMAGE_URL=https://tdcctv.data.one.gov.hk/TC001F.JPG
CCTV_NAME="HK TM-CLK Tunnel TM-CLK Tunnel Southern Portal"


# The vision model used to analyze the CCTV image (e.g., llava, bakllava, qwen3-vl:32b)
OLLAMA_VISION_MODEL=qwen3-vl:32b

# The text model used to summarize the news articles (e.g. gpt-oss:120b, llama3, mistral, gemma4:31b, qwen3-coder-next:q8_0 )
OLLAMA_SUMMARY_MODEL=gemma4:31b

